.App {
  font-family: sans-serif;
  text-align: center;
}
.Tab .button {
  background-color: greenyellow;
  border: solid 1px black;
  padding: 0.5rem;
}
.Tab {
  max-width: 15rem;
  border: solid 2px grey;
}
.Tab .button:hover {
  background-color: yellow;
}
